{{ partial "head" . }}
{{ partial "nav" . }}
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
	
	  {{ if .Params.video }}
		<div id="showVideo"></div>
		<script>
			var videoname={{ .Params.video }};
			var videoPieces = videoname.split('.');
			if(videoPieces.pop()=="mp4"){
				document.getElementById("showVideo").innerHTML="<video controls><source src='{{ .Params.video }}' type='video/mp4'>Your browser does not support the video tag.</video>";
			}
		</script>
	  {{ end }}
	  
	  {{ if .Params.file }}
		<p>Download file : <a href="{{ .Params.file }}" alt="{{ .Title }}" id="showFile">{{ .Params.file }}</a></p>
		<script>
			var filename={{ .Params.file }};
			var pieces = filename.split('/');
			document.getElementById("showFile").innerHTML=pieces.pop();
		</script>
	  {{ end }}
    </div>
  </div>
{{ partial "footer" . }}
